{% extends "base.html" %}

{% block title %}
    {{ super() }}
    Iniciar sesión
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

    <main class="container d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle">
        
        <section id="login-content">

            <h1 class="mb-4 text-center" style="font-size: calc(1.475rem + 1.5vw);">
                Rokolify
            </h1>
            
            <!-- Google login button -->
            <a class="btn btn-light rounded-5 border border-secondary-subtle" style="padding: 0.5rem 3.5rem;" href="{{ url_for('google_auth.google_login') }}" role="button">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="google-sign-in" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                <span class="fw-medium" style="color: #505050;">Ingresar con Google</span>
            </a>
            
        </section>
    </main>

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}