{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ super() }}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 fs-4">Rokolify</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if request.path == "/owner/welcome" %}
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        {% else %}
                            <a class="nav-link" aria-current="page" href="{{ url_for('owner_bp.welcome') }}">Home</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if request.path == "/owner/account_settings" %}
                            <a class="nav-link active" aria-current="page" href="#">My account</a>
                        {% else %}
                            <a class="nav-link" aria-current="page" href="{{ url_for('owner_bp.account_settings') }}">My account</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if request.path == "/owner/guest_settings" %}
                            <a class="nav-link active" aria-current="page" href="#">Guest settings</a>
                        {% else %}
                            <a class="nav-link" aria-current="page" href="{{ url_for('owner_bp.owner_settings_for_guests') }}">Guest settings</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <main class="container my-4">
        
        {% block messages %}
        {% endblock %}

        <h1 class="mb-3 fs-3">
            {% block main_title %}
            {% endblock %}
        </h1>

        {% block tabs %}
        {% endblock %}
        
        {% block main_content %}
        {% endblock %}
        
    </main>

{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}