{% extends "owner_settings_templates/owner_settings_base_template.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ super() }}
    Configuración para invitados
{% endblock %}

{% block messages %}
    <div id="devices-alert-container"></div>
{% endblock %}

{% block main_title %}
    Configuración para invitados
{% endblock %}

{% block main_content %}

        <div class="d-flex flex-column gap-4">

        {% if not linked_spotify_account_validation%}
            <p class="mt-2 fs-5"> Para configurar la sección de invitados primero debes vincular una cuenta de Spotify. </p>
        {% else %}

            <section class="p-4 border rounded-3 d-flex flex-column gap-3">
    
                <h2 class="fs-4">Links de acceso para invitados</h2>
                <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Link</th>
                                <th>Creado</th>
                                <th>Vence</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="access-links-grid" class="d-none">
                        </tbody>
                    </table>
                    <!-- Load sipinner -->
                    <div id="access-links-grid-load-spinner" class="d-flex justify-content-center py-3">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    
                    <!-- Empty message -->
                    <div id="access-links-grid-empty-message" class="mb-2 d-none">
                        <span class="fs-6 ps-3">Todavia no has creado ningún link de acceso para invitados</span>
                    </div>
                    
                </div>
                
                <button id="create-access-link-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addLinkModal">
                    Crear nuevo link de acceso
                </button>
            </section>

            <!-- QR modal -->
            <div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="qrModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="qrModalLabel">QR de acceso para invitados</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <div class="modal-body d-flex align-items-center justify-content-center">
                                <img id="access-link-qr-img" class="rounded-3 w-100 h-100 d-none" src="">
                                <!-- Load sipinner -->
                                <div id="qr-modal-load-spinner" class="d-flex justify-content-center" style="padding:6rem 0">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <a id="access-link-qr-download-link" href="" class="btn btn-primary">Descargar QR</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete link modal -->
            <div class="modal fade" id="deleteLinkModal" tabindex="-1" aria-labelledby="deleteLinkModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteLinkModalLabel">Confirmar acción</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <div class="modal-body">
                                <p class="fw-bolder" style="font-size: 1.28rem">¿Estás seguro de que quieres borrar este link de acceso?</p>
                                <p class="mb-0" style="font-size: 1.05rem">Al eliminar este link de acceso para invitados ya no se podrá volver a acceder a la sección de invitados a través de este link.</p>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" id="access-link-confirm-delete-btn" class="btn btn-danger" data-bs-dismiss="modal">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add link modal -->
            <div class="modal fade" id="addLinkModal" tabindex="-1" aria-labelledby="addLinkModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addLinkModalLabel">Crear link de acceso para invitados</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row mb-3 gap-0 row-gap-3">
                                    <div class="col-xl-6">
                                        <label for="access-link-description-input" class="form-label">Descripción</label>
                                        <input class="form-control" id="access-link-description-input" required maxlength="80">
                                    </div>
                                    <div class="col-xl-6">
                                        <label class="form-label" for="access-link-day-input">Fecha de vencimiento (opcional)</label>
                                        <input type="datetime-local" id="access-link-datetime-input" class="form-control">
                                    </div>
                                    <div id="access-link-validation-message" class="form-text d-flex justify-content-end d-none" style="color:#ff4949">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end gap-2 mt-4">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" id="add-access-link-btn" class="btn btn-primary">Crear</button>
                                </div>
                            </form>                        
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Control de permisos de invitados -->
            <section class="p-4 border rounded-3  d-flex flex-column gap-3">

                <h2 class="fs-4">Control de permisos</h2>
                <div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input user-setting-switch" type="checkbox" role="button" id="allow-guest-access-switch" name="guest-access" {% if allow_guest_access == True %} checked {% endif %}>
                        <label class="form-check-label">
                            <span class="me-3"><b>Habilitar acceso de invitados</b></span>
                            <a tabindex="0" class="btn btn-secondary rounded-pill py-0 px-1" data-bs-container="body" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Habilita el funcionamiento de la sección de invitados. Permite que otros usuarios puedan agregar canciones a tu cola de reproducción.">
                                <img src="{{url_for('static', filename='img/question-lg.svg')}}" alt="free-mode-btn-icon">
                            </a>
                        </label>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-6">
                            <label class="form-label">
                                <span class="me-3">Tiempo mínimo para reagregar la misma canción (minutos)</span>
                                <a tabindex="0" class="btn btn-secondary rounded-pill py-0 px-1" data-bs-container="body" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Tiempo en minutos que debe pasar para que la misma canción se pueda volver a agregar a la cola de reproducción por parte de los invitados. Esta validación solo aplica a canciones agregadas por invitados. Utilizar esta validación para evitar que se agreguen constantemente las mismas canciones y mantener una variedad.">
                                    <img src="{{url_for('static', filename='img/question-lg.svg')}}" alt="free-mode-btn-icon">
                                </a>
                            </label>
                            <div class="input-group">
                                <input type="number" id="re-add-song-minutes-input" class="form-control" value="{{time_to_re_add_same_track}}" min="0"/>
                                <button type="button" id="re-add-song-minutes-save-btn" class="btn btn-primary" disabled>Guardar</button>
                            </div>  
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <label class="form-label">
                                <span class="me-3">Tiempo para volver a agregar una canción por invitado (segundos)</span>
                                <a tabindex="0" class="btn btn-secondary rounded-pill py-0 px-1" data-bs-container="body" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Tiempo en segundos que deben pasar para que un mismo invitado vuelva a agregar una canción a la cola de reproducción. Utilizar esta validación para evitar que se un abuso del sistema por parte de los invitados.">
                                    <img src="{{url_for('static', filename='img/question-lg.svg')}}" alt="free-mode-btn-icon">
                                </a>
                            </label>
                            <div class="input-group">
                                <input type="number" id="cooldown-seconds-input" class="form-control" value="{{cooldown_time_to_add}}" min="0"/>
                                <button type="button" id="cooldown-seconds-save-btn" class="btn btn-primary" disabled>Guardar</button>
                            </div>  
                        </div>
                    </div>
                </div>
            </section>


            <!-- Configuracion de Recursos habilitados a invitados -->
            <section class="p-4 border rounded-3  d-flex flex-column gap-3">

                <h2 class="fs-4">Recursos habilitados</h2>
                
                <!-- Modo libre -->

                <div class="free-mode-settings">

                    <div class="input-group mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input user-setting-switch" type="checkbox" role="button" id="free-mode-switch" name="free-mode" {% if free_mode == True %} checked {% endif %}>
                            <label class="form-check-label">
                                <span class="me-3">Buscador de canciones</span>
                                <a tabindex="0" class="btn btn-secondary rounded-pill py-0 px-1" data-bs-container="body" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Habilita a los invitados a buscar cualquier canción dentro del catálogo de Spotify y agregarla a la cola de reproducción.">
                                    <img src="{{url_for('static', filename='img/question-lg.svg')}}">
                                </a>
                            </label>
                        </div>
                    </div>
            
                </div>

                <!-- Acceso a playlists -->
                <div class="playlists-access">
                    
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input user-setting-switch" type="checkbox" role="button" id="owner-playlists-access-switch" name="playlist-access" {% if owner_playlists_access == True %} checked {% endif %}>
                        <label class="form-check-label">
                            <span class="me-3">Acceso a mis playlists</span>
                            <a tabindex="0" class="btn btn-secondary rounded-pill py-0 px-1" data-bs-container="body" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Habilita a los invitados a visualizar tus playlists habilitadas y agregar sus canciones a la cola de reproducción. Las playlists disponibles seran todas las que hayas creado o que sigas con tu cuenta de Spotify vinculada.">
                                <img src="{{url_for('static', filename='img/question-lg.svg')}}">
                            </a>
                        </label>
                    </div>
                    <button type="button" id="owner-playlists-settings-btn" class="btn btn-primary align-self-start" data-bs-toggle="modal" data-bs-target="#paylist-settings">
                        Configurar mis playlists habilitadas
                    </button>
                        
                    <div class="modal fade" id="paylist-settings" data-bs-keyboard="false" tabindex="-1" aria-labelledby="paylist-settings-label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title fs-5" id="paylist-settings-label">Habilitar playlists para invitados</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body container" style="height: 100vh;">

                                    <div id="playlist-settings-items-container" class="d-flex flex-column gap-2">
                                        {% for playlist in owner_playlists["items"] %}

                                            <div class="playlist-setting-card card mx-1" data-playlist-uri="{{ playlist['uri'] }}">
                                                <div class="card-header d-flex align-items-center">
                                                    {% if playlist['images'] %}
                                                        <img src="{{ playlist['images'][0]['url'] }}" class="img-thumbnail img-thumbnail-playlist playlist-image object-fit-cover me-3" style="width: 55px; height: 55px;" alt="playlist-image">
                                                    {% endif %}
                                                    <h2 class="fs-4 card-title my-0">{{ playlist["name"] }}</h2>
                                                </div>
                                                <div class="card-body d-flex align-items-center justify-content-around">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input allow-playlist-switch" type="checkbox" role="button" data-playlist-id="{{ playlist['id'] }}">
                                                        <label class="form-check-label" for="{{ playlist['id'] }}">Habilitar</label>
                                                    </div>
                                                    <!-- Boton para Condiciones de configuracion para playlists -->
                                                    <button type="button" class="playlist-allow-conditions-btn btn btn-sm btn-secondary" data-playlist-id="{{ playlist['id'] }}" data-bs-target="#playlist-conditions-settings" data-bs-toggle="modal">Condiciones</button>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                        
                                    <!-- Load spinner: -->
                                    <div id="playlist-settings-load-spinner" class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle d-none">
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div> 
                                    
                                </div>

                                <!-- Paginado de playlists -->
                                <nav class="d-flex justify-content-center my-3" aria-label="Page navigation example">
                                    <ul id="pagination-btn-container" class="pagination pagination-sm mb-0 overflow-x-auto">
                                        <li id="playlist-settings-previous-page-btn" class="playlist-pagination-btn page-item disabled" data-pagination-value="previous" data-pagination-rol="nav">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        
                                        <!-- Cantidad de paginas necesarias, redondeado para arriba y convertido en integer -->
                                        {% set number_of_pages = ( (owner_playlists["total"] / owner_playlists["limit"]) | round(0, 'ceil') | int )  %} 

                                        {% for page_index in range(1, number_of_pages + 1 ) %}
                                            {% if page_index == 1 %}
                                                <li class="playlist-pagination-btn page-item active" data-pagination-value="{{page_index}}"  data-pagination-rol="page-number">
                                                    <a class="page-link" href="#">{{page_index}}</a>
                                                </li>
                                            {% else %}
                                                <li class="playlist-pagination-btn page-item" data-pagination-value="{{page_index}}" data-pagination-rol="page-number">
                                                    <a class="page-link" href="#">{{page_index}}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        <li id="playlist-settings-next-page-btn" class="playlist-pagination-btn page-item {% if number_of_pages == 1 %} disabled {% endif %}" data-pagination-value="next" data-pagination-rol="nav">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </div>

                    <!-- Modal de configuración de condiciones para playlist -->
                    <div class="modal fade" id="playlist-conditions-settings" tabindex="-1" aria-labelledby="playlist-conditions-settings-label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title modal-title fs-5" id="playlist-conditions-settings-label">Condiciones para habilitar playlist</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body container">
                                    <div class="px-3 border rounded-3">
                                        <!-- Form de horarios -->
                                        <div class="my-4">
                                            <h2 class="fs-5">Agregar horarios</h2>
                                            <div class="row">
                                                <!-- Combo de dias -->
                                                <div class="col-md-4">
                                                <label class="form-label">Día</label>
                                                    <select id="allow-playlist-day-input" class="form-select">
                                                        <option value="-1">Todos</option>
                                                        <option value="0">Lunes</option>
                                                        <option value="1">Martes</option>
                                                        <option value="2">Miércoles</option>
                                                        <option value="3">Jueves</option>
                                                        <option value="4">Viernes</option>
                                                        <option value="5">Sábado</option>
                                                        <option value="6">Domingo</option>
                                                    </select>
                                                </div>
                                                <!-- Horario de inicio -->
                                                <div class="col-md-4">
                                                    <label class="form-label">Horario de inicio</label>
                                                    <input type="time" class="form-control" id="allow-playlist-init-time-input" value="00:00">
                                                </div>
                                                <!-- Horario de fin -->
                                                <div class="col-md-4">
                                                    <label class="form-label">Horario de fin</label>
                                                    <input type="time" class="form-control" id="allow-playlist-end-time-input" value="23:59">
                                                </div>
                                            </div>
                                            <div id="allow-condition-validation-message" class="d-flex justify-content-end d-none">
                                                <span class="form-text" style="color:#ff4949">
                                                    El horario de fin debe ser posterior al horario de inicio
                                                </span>
                                            </div>
                                            <!-- Botón para agregar -->
                                            <div class="row mt-2">
                                                <div class="col-md-12 d-flex justify-content-end">
                                                    <button class="btn btn-primary" id="add-allow-playlist-condition-btn">Agregar</button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Grilla -->
                                        <div class="row my-4">
                                            <h2 class="fs-5">Horarios habilitados</h2>
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Día</th>
                                                                <th>Horario de inicio</th>
                                                                <th>Horario de fin</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="allow-playlist-conditions-grid">
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- Empty message -->
                                                <div id="allow-conditions-grid-empty-message">
                                                    <span class="fs-6 ps-3">Aun no has agregado ningún horario</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-target="#paylist-settings" data-bs-toggle="modal">Volver</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </section>

        {% endif %}

    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="copy-url-toast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <!-- Dejar estos script antes que los de bootstrap (dentro del bloque super), ya que necesito que se ejecute este codigo rapido y al estar el de bootstrap primero hace que se retarde su ejecución -->
    <script src="{{url_for('static', filename='js/owner_scripts/owner_guest_settings_events.js')}}"></script>
    
    <script> const playlistsAmountToShow = "{{ playlists_amount_to_show }}" ; </script>
    <script src="{{url_for('static', filename='js/owner_scripts/owner_playlists_settings_events.js')}}"></script>
    
    {{ super() }}

    <!-- luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.1.0/build/global/luxon.min.js"></script>

    <script src="{{url_for('static', filename='js/owner_scripts/owner_access_links_settings_events.js')}}"></script>

    <script src="{{url_for('static', filename='js/tooltips_init.js')}}"></script>

    <script> let linkedpotifyAccountValidation = "{{linked_spotify_account_validation}}"; </script>
    <script> let devicesValidation = "{{available_devices_existence}}"; </script>
    <script src="{{url_for('static', filename='js/owner_scripts/owner_devices_alert.js')}}"></script>
    
{% endblock %}