{% extends "owner_settings_templates/owner_settings_base_template.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    Owner settings
{% endblock %}

{% block messages %}
    <div id="devices-alert-container"></div>
{% endblock %}

{% block main_title %}
    Configuración para invitados
{% endblock %}

{% block main_content %}

    <div class="d-flex flex-column gap-4">
        
        <!-- Links de acceso a invitados -->

        <section class="p-4 border rounded-3">                
            <h2 class="fs-4">Acceso para invitados</h2>
            <div class="mb-3">
                <div class="form-check form-switch my-3">
                    <input class="form-check-input user-setting-switch" type="checkbox" role="button" id="allow-guest-access-switch" name="guest-access" {% if allow_guest_access == True %} checked {% endif %}>
                    <label class="form-check-label" for="allow-guest-access-switch">Permitir intervención de invitados</label>
                </div>
                <label for="guest-url-input" class="form-label">URL para invitados</label>
                <div class="input-group">
                    <input id="guest-url-input" value="{{ guest_url }}" class="form-control" disabled readonly>
                    <button id="copy-url-btn" type="button" class="btn btn-primary">
                        <img src="{{url_for('static', filename='img/bxs-copy.svg')}}" alt="copy-btn-icon">
                        Copiar
                    </button>
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="qr-btn">
                <img src="{{url_for('static', filename='img/qr-code.svg')}}" alt="qr-btn-icon">
                Generar QR
            </button>
        </section>
        
        <!-- Configuracion de Recursoshabilitados a invitados -->

        <section class="p-4 border rounded-3  d-flex flex-column gap-3">

            <h2 class="fs-4">Recursos habilitados para invitados</h2>
            
            <!-- Modo libre -->

            <div class="free-mode-settings">

                <div class="input-group mb-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input user-setting-switch" type="checkbox" role="button" id="free-mode-switch" name="free-mode" {% if free_mode == True %} checked {% endif %}>
                        <label class="form-check-label" for="free-mode-switch">Modo libre</label>
                    </div>
                    <a tabindex="0" class="btn btn-secondary rounded-pill py-0 px-1 mx-3" data-bs-container="body" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Habilita a los invitados a buscar cualquier canción dentro del catálogo de Spotify y agregarla a la cola de reproducción">
                        <img src="{{url_for('static', filename='img/question-lg.svg')}}" alt="free-mode-btn-icon">
                    </a>
                </div>
        
            </div>

            <!-- Acceso a playlists -->

            <div class="playlists-access">
                
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input user-setting-switch" type="checkbox" role="button" id="owner-playlists-access-switch" name="playlist-access" {% if owner_playlists_access == True %} checked {% endif %}>
                    <label class="form-check-label" for="owner-playlists-access-switch">Acceso a mis playlists</label>
                </div>
                <button type="button" id="owner-playlists-settings-btn" class="btn btn-primary align-self-start" data-bs-toggle="modal" data-bs-target="#paylist-settings">
                    Configurar acceso a playlists
                </button>
                    
                <div class="modal fade" id="paylist-settings" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="paylist-settings-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title fs-5" id="paylist-settings-label">Configuración de acceso a playlists</h3>
                            </div>
                            <div class="modal-body container" style="height: 100vh;">

                                <div id="playlist-settings-items-container" class="d-flex flex-column gap-2">
                                    {% for playlist in owner_playlists["items"] %}
                                        <div class="playlist-setting-card card mx-1" data-playlist-uri="{{ playlist['uri'] }}">
                                            <div class="card-header d-flex align-items-center">
                                                <img src="{{ playlist['images'][0]['url'] }}" class="img-thumbnail img-thumbnail-playlist playlist-image object-fit-cover me-3" style="width: 55px; height: 55px;" alt="playlist-image">
                                                <h2 class="fs-4 card-title my-0">{{ playlist["name"] }}</h2>
                                            </div>
                                            <div class="card-body d-flex align-items-center justify-content-around">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input allow-playlist-switch" type="checkbox" role="button" id="{{ playlist['id'] }}">
                                                    <label class="form-check-label" for="{{ playlist['id'] }}">Habilitar</label>
                                                </div>
                                                <!-- <button type="button" id="playlist-settings-btn" class="btn btn-sm btn-secondary" data-bs-target="#playlist-conditions-settings" data-bs-toggle="modal">Más opciones</button> -->
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                    
                                <!-- Load spinner: -->
                                <div id="playlist-settings-load-spinner" class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle d-none">
                                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div> 
                                
                            </div>

                            <!-- Paginado de playlists -->
                            <nav class="d-flex justify-content-center my-2" aria-label="Page navigation example">
                                <ul id="pagination-btn-container" class="pagination pagination-sm mb-0 overflow-x-auto">
                                    <li id="playlist-settings-previous-page-btn" class="playlist-pagination-btn page-item disabled" data-pagination-value="previous" data-pagination-rol="nav">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    {% for page_index in range(1, (owner_playlists["total"] // owner_playlists["limit"]) + 2 ) %}
                                        {% if page_index == 1 %}
                                            <li class="playlist-pagination-btn page-item active" data-pagination-value="{{page_index}}"  data-pagination-rol="page-number">
                                                <a class="page-link" href="#">{{page_index}}</a>
                                            </li>
                                        {% else %}
                                            <li class="playlist-pagination-btn page-item" data-pagination-value="{{page_index}}" data-pagination-rol="page-number">
                                                <a class="page-link" href="#">{{page_index}}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <li id="playlist-settings-next-page-btn" class="playlist-pagination-btn page-item" data-pagination-value="next" data-pagination-rol="nav">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                            <div class="modal-footer">
                                <button type="button" id="playlist-settings-discard-btn" class="btn btn-secondary" data-bs-dismiss="modal">Descartar</button>
                                <button type="button" id="playlist-settings-save-btn"  class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TODO: Modal de configuración de playlist -->

                <!-- <div class="modal fade" id="playlist-conditions-settings" tabindex="-1" aria-labelledby="playlist-conditions-settings-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title modal-title fs-5" id="playlist-conditions-settings-label">Configuración de playlist</h2>
                            </div>
                            <div class="modal-body container">

                                <div class="card mb-3 mx-1">
                                    <div class="card-header d-flex align-items-center">
                                        <h2 class="card-title my-0"></h2>
                                    </div>
                                    <div class="card-body d-flex align-items-center justify-content-around">
                                        <form action="">
                                            
                                            <div class="mb-3">
                                                <label class="form-check-label">Días habilitados:</label>
                                                
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="monday-checkbox">
                                                    <label class="form-check-label" for="monday-checkbox">Lunes</label>
                                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-target="#paylist-settings" data-bs-toggle="modal">Horarios</button>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="tuesday-checkbox">
                                                    <label class="form-check-label" for="tuesday-checkbox">Martes</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="wednesday-checkbox">
                                                    <label class="form-check-label" for="wednesday-checkbox">Miércoles</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="thursday-checkbox">
                                                    <label class="form-check-label" for="thursday-checkbox">Jueves</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="fryday-checkbox">
                                                    <label class="form-check-label" for="fryday-checkbox">Viernes</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="saturday-checkbox">
                                                    <label class="form-check-label" for="saturday-checkbox">Sábado</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="sunday-checkbox">
                                                    <label class="form-check-label" for="sunday-checkbox">Domingo</label>
                                                </div>
                                            </div>
                                            
                                            <button type="button" class="btn btn-sm btn-secondary" data-bs-target="#paylist-settings" data-bs-toggle="modal">Volver</button>
                                            <button type="button" class="btn btn-sm btn-primary" data-bs-target="#paylist-settings" data-bs-toggle="modal">Confirmar</button>
                                        
                                        </form>

                                    </div>
                                </div>
                                        
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

        </section>
        
    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="copy-url-toast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/tooltips_init.js')}}"></script>

    <script src="{{url_for('static', filename='js/owner_scripts/owner_copy_url.js')}}"></script>

    <script> const playlistsAmountToShow = "{{ playlists_amount_to_show }}" ; </script>
    <script src="{{url_for('static', filename='js/owner_scripts/owner_playlists_settings_pagination.js')}}"></script>

    <script> const getQrUrl = "{{ get_qr_url }}" ; const guestUrl = "{{ guest_url }}" ; </script>
    <script src="{{url_for('static', filename='js/owner_scripts/owner_get_qr.js')}}"></script>
    
    <script> let devicesValidation = "{{available_devices_existence}}"; </script>
    <script src="{{url_for('static', filename='js/owner_scripts/owner_devices_alert.js')}}"></script>
    
    <script> let playlistSettings = JSON.parse("{{playlists_settings}}".replace(/&#34;/g, '"')); </script>
    <script src="{{url_for('static', filename='js/owner_scripts/owner_guest_settings_events.js')}}"></script>
{% endblock %}